.hero-detail {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
}

.margin-top {
  margin-top: 1em;
}

#edit-hero {
  margin-bottom: 1em;
}

#edit-hero span{
  color: rgba(0, 200, 255, 0.8);
}

md-icon  {
  color: rgba(0, 200, 255, 0.8);
  width: 20px;
  height: 20px;
  font-size: 20px;
  box-sizing: content-box;
  vertical-align: text-bottom;
}

#back {
  margin-top: 1em;
}

#back md-icon {
  color: darkgrey;
  position: relative;
  left: -5px;
}

md-progress-spinner {
  margin: 0 auto;
  height: 40px;
  width: 40px;
}

ng-template {
  margin-top: 1em;
}