<h1>{{title}}</h1>

<h2>My Heroes</h2>

<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul> -->

<!-- *ngIf="!heroes" -->

<md-nav-list dense class="heroes">
	<md-progress-spinner *ngIf="!heroes"
			mode='indeterminate'
			color='primary'>
	</md-progress-spinner>
	<md-list-item *ngFor="let hero of heroes"
			(click)="onSelect(hero)"
			[class.selected]="hero === selectedHero">
		<span class="badge">{{hero.id}}</span>
		<span>{{hero.name}}</span>
		<button md-mini-fab class="delete" (click)="delete(hero); $event.stopPropagation()">
			<md-icon>clear</md-icon>
		</button>
	</md-list-item>
</md-nav-list>

<div *ngIf="selectedHero; else undefinedHero">
    <!--
	    bind selectedHero to the `hero` property within HeroDetailComponent
	    through `@angular/core/Input` component
	-->
	<!-- <hero-detail [hero]="selectedHero"></hero-detail> -->
	<h3>{{selectedHero.name | uppercase}} is my hero</h3>
	<button id="details" md-raised-button (click)="gotoDetail()">
		<md-icon aria-hidden="true">account_box</md-icon>Go details
	</button>
</div>

<ng-template #undefinedHero>
	<div class="pickup" *ngIf="heroes">Pick-up a superhero to get details</div>
</ng-template>

<button id="add-hero" *ngIf="newHero; else newHeroTpl" md-mini-fab (click)="toggleHero()">
	<md-icon>add</md-icon>
</button>

<ng-template #newHeroTpl>
	<div id="new-hero">
		<h3>Add a new Hero</h3>
		<section>
			<form>
				<md-input-container>
					<input mdInput #heroName [formControl]="heroFormControl" maxlength="{{nameMaxLength}}" (keyup)="onKeyUp($event)" placeholder="Name">
					<md-hint align="start">todo : already in use</md-hint>
					<md-hint align="end">{{heroName.value.length}} / {{nameMaxLength}}</md-hint>
					<!-- <md-error *ngIf="heroFormControl.hasError('minlength') || heroFormControl.hasError('maxlength')">
						Name must be sized from {{nameMinLength}} to {{nameMaxLength}} chars
    				</md-error> -->
    				<md-error *ngIf="heroFormControl.hasError">
						must be sized from {{nameMinLength}} to {{nameMaxLength}} chars
    				</md-error>
				</md-input-container>
				<!-- TODO : add [disabled]="test" on Save button when form is not valid or heroFormControl has errors-->
				<button md-raised-button (click)="add(heroName.value); heroName.value=''" >Save</button>
				<button class="discard" md-raised-button (click)="toggleHero()">Discard</button>
			</form>
		</section>
	</div>
</ng-template>
